.ram
{
	padding-left: 40%;
	font-size: 20%;
	font-weight: bold;
	color: #ffffff;
	border:40% ;
}

.ram
{
	padding-left: 40%;
	font-size: 20%;
	font-weight: bold;
	color: #ffffff;
	border:40% ;
}
img{

	margin-left: 25%;
	-webkit-box-reflect:top;
}

.ram
{
	padding-left: 40%;
	font-size: 20%;
	font-weight: bold;
	color: #ffffff;
	border:40% ;
}
img{

	margin-left: 25%;
	-webkit-box-reflect:top;
}
.ram
{
	padding-left: 40%;
	font-size: 20%;
	font-weight: bold;
	color: #ffffff;
	border:40% ;
}

.ram
{
	padding-left: 40%;
	font-size: 20%;
	font-weight: bold;
	color: #ffffff;
	border:40% ;
}