.animation
{
	width: 200px;
	height: 200px;
	background-color: black;
	border: solid blue;
	animation-name: mymove;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes mymove
{
	20%{
		transform: rotatex(40deg);
	}
}